<tr>
  <td><%= movie.id %></td>
  <td><%= movie.title %></td>
  <td><%= movie.category.title %></td>
  <td><%= movie.ratings.average(:star) %></td>
  <% if user_signed_in? %>
    <td>
      <%= render 'rate_form', movie: movie %>
    </td>
  <% end %>
</tr>